@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    .text_href{
        color: #0EB182;
    }
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", serif;
    border: none;
}
body{
    background: #FFFFFF;
}
.header{
    background: #F1F0EE;
}
.container{
    margin: 0 auto;
    max-width: 1182px;
    width: 100%;
}
.header_container{
    padding: 17px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu{
    display: flex;
    align-items: center;
    gap: 36px;
}
.header_link > a{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.header_href{
    background-color:  #FFFFFF;
    padding: 11px 49px;
    border-radius: 100px;
    border: 1px solid #d5d3d0;
}
.header_href:hover{
    background-color: #F1F0EE;
    border: 1px solid #FFFFFF;
    transition-duration: 0.5s;
}
h1{
    max-width: 160px;
    width: 100%;
    color: #000000;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
}
.section_span{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #BA8D5B;
}
.section_container{
    padding: 116px 32px;
    display: flex;
    gap: 76px;
    background-image: url("./img/bakround_img.png");
    background-repeat: no-repeat;
    background-position: 120% bottom;
}
.hero_text{
    max-width: 313px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 19px;
    color: #191919;
}
.section_button{
    padding: 13px 47px;
    border-radius: 100px;
    background: #BA8D5B;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 83px;
    cursor: pointer;
    border: 2px solid #ffffff;
}
.section_button:hover{
    background: #000000;
    border: 2px solid yellow;
    transition-duration: 0.5s;
}
.section_img{
    max-width: 706px;
}
.hero_h2{
    color: #0F1826;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    padding: 0  0 0 32px;
}
.section_box_div{
    margin-top: 22px;
}
.box_title_p{
    color: #0F1826;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.box_title_text{
    margin-top: 14px;
    color: #607987;
    max-width: 448px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.box_title{
    margin-top: 48px;
    display: flex;
    gap: 40px;
}
.box_title_img{
    object-fit: none;
    padding-bottom: 70px;
}
.box_title_text_p{
    margin-top: 14px;
    color: #607987;
    max-width: 470px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.box_container{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.box_href{
    color: #0EB182;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.box_title_a_btn{
   margin-top: 16px;
    align-items: center;
    display: flex;
    gap: 16px;
}
.section_container_div{
    margin-top: 48px;
    background: #F9F8F7;
    padding: 48px 0;
}
.section_box_h2{
    padding-left: 32px;
}
.box_h2{
    color: #0F1826;
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
}
.box_p{
    margin-top: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #607987;
}
.box_h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #0F1826;
}
.box_section_div_box{
    max-width: 254px;
    border-radius: 4px;
    border: 1px solid #d5d3d0;
    padding: 17px;
    color: #607987;
}
.box_p_text{
    margin-top: 12px;
}
.box_section_div_box_container{
    margin-top: 24px;
    display: flex;
    gap: 33px;
}
.hero_p{
    margin-top: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #0EB182;
}
.text_h2{
    color: #0F1826;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
}
.text_p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.section_container_box_div{
    margin-top: 48px;
}
.box_grid{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 31px;
}
.section_container_div_title{
    margin-top: 48px;
    padding: 40px 0 60px 0;
}
.section_box_title_text{
    padding: 0 44px 30px 32px;
}
.text_title{
    color: #0F1826;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
}
.title_box_text{
    margin-top: 24px;
    color: #607987;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}